h2 My tasks

.row
    .col-md-12
        table.table.tasks-search-table(ng-table='tableParams', show-filter='true')
            tr(ng-repeat='task in $data')
                td.text-center.status-column(data-title="'Status'", filter="{status: 'select'}", filter-data="taskStatuses")
                    task-status-icon(task='task')
                td(title="'Title'", filter="{ title: 'text'}", sortable="'title'") {{task.title}}
                td.text-center.category-column(title="'Category'", filter="{ 'category': 'text'}", sortable="'category'") {{task.category}}
                td.text-center(title="'Deadline'", sortable="'time.endDate'")
                    task-deadline-info(task='task')
                td(title="'Location'", filter="{'location': 'text'}") {{task.location.name || task.location.information || task.location.address}}
                td
                    a.btn.btn-info.action-button.xs-mr-5(ui-sref='details({id: task._id})') Details
                    a.btn.btn-default.action-button(mwl-confirm,
                    title='Are you sure?',
                    message='Task will stay in day plans, where it was added',
                    confirm-text='Yes, delete',
                    placement='left',
                    cancel-text='Cancel',
                    on-confirm='deleteTask(task)'
                    confirm-button-type='danger'
                    cancel-button-type='default') Delete

    ui-view