.dropdown
    a.dropdown-toggle(id='{{dayPlanDatePickerid}}', role='button', data-toggle='{{isDisabled ? "": "dropdown"}}', data-target='#')
        .input-group
            input.form-control(type='text', ng-model='formattedDateTime', ng-disabled='isDisabled')
            span.input-group-addon
                i.glyphicon.glyphicon-calendar

    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
        datetimepicker(ng-model='ngModel',
        datetimepicker-config="datetimePickerConfig",
        on-set-time='newDateSet(newDate, oldDate)')