.dropdown
    a.dropdown-toggle(id='{{elementId}}', role='button', data-toggle='dropdown', data-target='#')
        .input-group
            input.form-control(type='text', ng-model='formattedDate')
            span.input-group-addon
                i.glyphicon.glyphicon-calendar

    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
        datetimepicker(ng-model='ngModel',
        datetimepicker-config='datePickerConfig',
        on-set-time='newDateSet(newDate, oldDate)')