doctype html
html(ng-app="organizer")
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='csrf-token', content=_csrf)

        title(ng-bind="title + ' — Organizer'") Task Organizer
        link(rel='shortcut icon', href='/favicon.png')

        link(rel='stylesheet', href='/css/custom.css')

        base(href='/')


    body.skin-blue
        section(ui-view)

        script(src="/js/dist/app.js", type='application/javascript')
        script(src='https://maps.googleapis.com/maps/api/js?language=en&v=3&key=AIzaSyATDTd1S8cTZwIcUyPl_wgJrQjuqAvWgH8&libraries=places,drawing,weather,geometry,visualizations')
