h2.xs-mb-20.pos-relative
    | {{formattedDate}}

    button.btn.btn-default.vertical-top.xs-ml-30.dropdown-toggle(id='dashboard-calendar', data-toggle='dropdown', role='button', data-target='#', type='button') Change date
    a.btn.btn-default.vertical-top.xs-ml-10(ui-sref='planning({date: selectedDateEditLink})', ng-if='!isDateInPast') Edit Day plan

    ul.dropdown-menu.xs-ml-30.planning-day-picker(role='menu', aria-labelledby='dLabel')
        datetimepicker(ng-model='selectedDate',
        datetimepicker-config="{dropdownSelector: '#dashboard-calendar', minView :'day'}",
        on-set-time='newDateForDashboardSet(newDate)')


.row.dashboard-container

    .box.box-solid.col-md-4.day-plan(ng-if='dayPlanHasItems')
        todo-list.planning-day-todos.no-min-height.dashboard-todos(
        ng-if='dayPlan.todos.length > 0',
        todos='dayPlan.todos',
        show-checked-state=true,
        task-title-property='title',
        update-state-for-task-callback='todoTaskStatusUpdated(task)'
        )
        day-events-timeline(events='dayPlan.events',
        travel-buffers='dayPlan.travelBuffers',
        show-checked-state=true,
        update-state-for-task-callback='eventTaskStatusUpdated(event)')
    .col-md-4.no-padding(ng-if='dayPlanHasItems')
        day-plan-map.dashboard-map(day-plan='dayPlan')


    .col-md-8(ng-if='!dayPlanHasItems && !isDateInPast')
        h3.text-center No day plan yet created
        .row
            .col-md-4.col-md-offset-4
                a.btn.btn-success.btn-block(ui-sref='planning({date: selectedDateEditLink})', ng-if='!isDateInPast') Create day plan

    .col-md-8.text-center(ng-if='!dayPlanHasItems && isDateInPast')
        h3 No day plan for the selected date
        p Unfortunately it is not possible to create day plan for past dates



    .col-md-4
        .box.box-solid
            .box-body
                h4.text-center.xs-mt-0 Critical not scheduled tasks
                input.form-control(type='text', ng-model='taskSearchQuery', ng-model-options='{ debounce: 200 }', placeholder='Search for tasks...')

                task-search-results(query='debouncedTaskSearchQuery', no-results-message='No tasks found')