.row
    .col-md-12
        h2.dropdown-toggle(id='planning-date-calendar', data-toggle='dropdown', role='button', data-target='#')
            | {{formattedDate}}
            i.fa.fa-calendar.xs-pl-10.vertical-top
            button.btn.btn-info.vertical-top.xs-ml-30(type='button') Change date
        ul.dropdown-menu.xs-ml-30.planning-day-picker(role='menu', aria-labelledby='dLabel')
            datetimepicker(ng-model='planningDate',
            datetimepicker-config="{dropdownSelector: '#planning-date-calendar', minView :'day'}",
            data-before-render='filterFutureDates($dates)',
            on-set-time='newPlanningDateWasSet(newDate)')

hr.lightgrey

.row
    .col-xs-4
        task-search-input(ng-model='tasksFilter')
    .col-xs-1
        button.btn.btn-primary.btn-block.day-planning-search-button(ng-click='updateSearchResults()') Search
    .col-xs-2.col-xs-offset-5.no-padding-left
        button.btn.btn-success.btn-block.day-planning-search-button(ng-click='saveDayPlanClick(dayPlan)') Save day plan
        p.text-muted {{dayPlanSaveState}}


.row
    .col-md-4
        h3.text-center Tasks
        .box.box-solid.planning-task-search-results
            .box-body
                .drop-to-unschedule-block(droppable-container, on-drop-callback='onDropToUnschedule(taskId)')
                    .description-area Drop here to remove task from your day
                ul.list-no-style.planning-task-list

                    li.separator-header Scheduled for this day

                    li.external-event.planning-task-list-item.scheduled-task(ng-repeat='task in tasksAssignedToDay',
                    draggable-element,
                    data-task-id='{{task._id}}',
                    draggable-options='{revert: true, revertDuration: 0}',
                    ng-attr-data-duration='{{task.time.duration || defaultPlanEventDuration}}',
                    ng-class='{"last-scheduled-item": $last}')
                        .task-title
                            priority-icon(priority='{{task.priority}}')
                            a.link-no-style.cursor-hand(ui-sref='details({id: task._id})') {{task.title}}
                            div.btn-group.pull-right
                                button.btn.btn-sm.btn-primary.quick-action-button(type='button', ng-click='addScheduledTaskInDaySchedule(task)')
                                    span.fa.fa-calendar-plus-o(title='Add to day schedule')
                                button.btn.btn-sm.btn-primary.quick-action-button(type='button', ng-click='addScheduledTaskInTodoList(task)')
                                    span.fa.fa-list-ul(title='Add to day todo list')

                        div.task-time
                            i.fa.fa-clock-o
                            task-time-info(task='task')
                        div.task-location(ng-if='task.location.address')
                            span.fa.fa-map-marker
                            | {{task.location.address}}

                    li(ng-if='!tasksAssignedToDay || !tasksAssignedToDay.length') No tasks scheduled


                    li.separator-header From search results

                    li.external-event.planning-task-list-item(ng-repeat='task in tasks',
                    draggable-element,
                    data-task-id='{{task._id}}',
                    draggable-options='{revert: true, revertDuration: 0}',
                    ng-attr-data-duration='{{task.time.duration || defaultPlanEventDuration}}')
                        .task-title
                            priority-icon(priority='{{task.priority}}')
                            a.link-no-style.cursor-hand(ui-sref='details({id: task._id})') {{task.title}}
                            task-status-icon.pull-right(task='task')
                        div.task-location(ng-if='task.location.address')
                            span.fa.fa-map-marker
                            | {{task.location.address}}
                        div.task-category(ng-if='task.category')
                            span.fa.fa-tag
                            | {{task.category}}

                    li(ng-if='!tasks || !tasks.length') No tasks found


    .col-md-8.day-plan-container
        h3.col-xs-6.col-xs-offset-3.text-center.vertical-center Your Day Plan
        .col-xs-3.xs-mt-15.no-padding
            .btn-group.btn-group-justified
                .btn-group
                    label.btn.btn-info(ng-click='changeDisplayMode("schedule")', ng-class='{active: displayMode === "schedule"}')
                        i.fa.fa-list.xs-mr-10
                        | Schedule
                .btn-group
                    label.btn.btn-info(ng-click='changeDisplayMode("map")', ng-class='{active: displayMode === "map"}')
                        i.fa.fa-map-o.xs-mr-10
                        | Map

        .row(ng-if='displayMode==="schedule"')
            .col-md-6
                h4.text-center Schedule
                .box.box-solid.no-padding.planning-day-schedule
                    day-agenda(
                    calendar-name='dayPlan',
                    tasks-source='tasks',
                    selected-date='planningDate'
                    events='dayPlan.events',
                    travel-buffers='dayPlan.travelBuffers',
                    allow-drop-out='true',
                    calendar-config='dayPlanCalendarConfig'
                    on-new-event-added='eventAddedToDayPlan(event)',
                    on-event-duration-changed='onEventDurationChanged(event, oldEndTime)',
                    on-event-rescheduled='onEventRescheduled(event, oldStartTime, oldEndTime)'
                    on-event-unscheduled='onEventUnscheduled(event)'
                    )

            .col-md-6
                h4.text-center To-Dos
                .box.box-solid.planning-day-todos
                    .box-body.full-height
                        todo-list(
                        support-dropping-event=true,
                        support-reorder=true,
                        todos='dayPlan.todos',
                        on-drop-callback='taskDroppedInTodoList(taskId)',
                        task-title-property='title',
                        show-remove-button=true,
                        on-remove-button-clicked='removeTaskFromTodos(task)')

        .route-selection-block.animated.fadeInRight(ng-if='routeSelectionActive')
            route-selection(
            from-event='routeForSelection.fromEvent'
            to-event='routeForSelection.toEvent',
            on-route-selected='onRouteSelected(travelBuffer)',
            on-route-selection-canceled='onRouteSelectionCanceled()'
            )

        .row(ng-if='displayMode==="map"')
            .col-md-12
                day-plan-map.day-planning(day-plan='dayPlan')