.box.box-solid.route-selection-frame
    .close-button(ng-click='onRouteSelectionCanceled()')
        i.fa.fa-times
    .box-header.with-border
        h3.text-center.box-title
            | Select a route: {{routeSelectionTitle}}

    .box-body

        .form-horizontal
            .form-group(ng-hide='canBeScheduleOnlyRightBeforeNextEvent')
                .col-xs-10.xs-ml-30
                    checkbox(ng-model='scheduleRightBeforeNextEvent', on-change='scheduleBeforeNextEventCheckboxUpdated(newValue)') Arrive as late as possible

            .form-group
                .col-xs-5
                    label.col-xs-6.control-label Leaving Buffer
                    .col-xs-6
                        .input-group
                            input.form-control(ng-model='departureBufferMins')
                            .input-group-addon min

                .col-xs-5
                    label.col-xs-6.control-label Arrival Buffer
                    .col-xs-6
                        .input-group
                            input.form-control(ng-model='arrivalBufferMins')
                            .input-group-addon min

                .col-xs-2.row.no-padding
                    button.btn.btn-info(type='button', ng-click='recalculateTravelBuffer()')
                        i.fa.fa-refresh &nbsp;
                        | Recalculate

        ul.nav.nav-tabs
            li(ng-repeat='travelModeInfo in travelModesInfo',
            ng-class='{"active": currentActiveTravelMode===travelModeInfo.travelMode}',
            ng-click='showRouteForTravelMode(travelModeInfo.travelMode)')
                a
                    i.fa(class='{{travelModeInfo.icon}}') &nbsp;
                    | {{travelModeInfo.durationText}}


        .full-height
            ng-map#route-selection-map(default-style='false')

    .box-footer
        button.btn.btn-primary.pull-right.col-sm-4.xs-ml-20(type='button', ng-click='selectRoute()') Add {{selectedRouteDurationText}} travel buffer
        button.btn.btn-default.pull-right.col-sm-4(type='button', ng-click='onRouteSelectionCanceled()') Don't need travel buffer