.row.location-picker
    .full-height(ng-class='{"col-sm-6": isInEditMode, "col-sm-12": !isInEditMode, "isInEditMode": isInEditMode}')
        #map_canvas
            ng-map(ng-attr-id='{{mapId}}', center='[{{map.center.latitude}}, {{map.center.longitude}}]', default-style='false')
                marker(ng-if='!isInEditMode && location != locationToHighlight',
                ng-repeat='location in locations',
                on-mouseover='locationSelected(location)',
                on-mouseout='deselectLocation()',
                on-click='locationClicked(location)',
                position='{{location.latitude}}, {{location.longitude}}',
                default-style='false')

                marker(
                ng-if='locationToHighlight.latitude && locationToHighlight.longitude && !isInEditMode',
                animation='1',
                position='{{locationToHighlight.latitude}}, {{locationToHighlight.longitude}}')

                marker(ng-if='isInEditMode && locationToEdit',
                draggable='{{isInEditMode}}',
                on-dragend='markerToEditDragEnd()',
                ng-class='{dragging: $dragging}',
                position='{{locationToEdit.latitude}}, {{locationToEdit.longitude}}')

    .col-sm-6(ng-if="isInEditMode")

        .box.box-info

            .box-header.with-border
                h4.box-title General

            form.form-horizontal

                .box-body

                    .form-group
                        label.col-sm-2.control-label Name
                        .col-sm-10
                            input.form-control(type='text', ng-model='locationToEdit.name', placeholder='Location name')

                    .form-group
                        label.col-sm-2.control-label Address
                        .col-sm-10
                            input.form-control(type='text', ng-map-autocomplete, ng-blur="searchForAddress()", ng-keyup='$event.keyCode == 13 && searchForAddress()', ng-model='locationToEdit.address', placeholder='Type address to search...')

                    .form-group
                        label.col-sm-2.control-label Keywords
                        .col-sm-10
                            input.form-control(type='text', , ng-model='locationToEdit.keywords', placeholder='Search relevant keywords')

                    .form-group
                        .col-sm-6
                            button.btn.btn-primary.btn-block(type='button', ng-disabled='!locationToEdit.name || !locationToEdit.address', ng-click='saveChangesToLocation()')
                                i.fa.fa-floppy-o
                                |  Save Location
                        .col-sm-6
                            button.btn.btn-secondary.btn-block(type='button', ng-click='cancelEditLocation()')
                                i.fa.fa-times
                                |  Cancel Edit
