div
    div(ng-if='useGoogleDirections', angucomplete-alt,
    placeholder='Start typing to search for place',
    pause='100',
    selected-object='onTaskPlaceSelected',
    local-search='filterMyPlaces',
    local-data='myPlaces',
    title-field='name',
    description-field='address',
    click-activation='true',
    minlength='0',
    input-class='form-control',
    remote-api-handler='placeRequestFormatter',
    template-url='/partials/common/views/autocomplete-template')

    div(ng-if='!useGoogleDirections', angucomplete-alt,
    placeholder='Start typing to search for place',
    pause='100',
    selected-object='onTaskPlaceSelected',
    initial-value='task.location'
    local-search='filterMyPlaces',
    local-data='myPlaces',
    title-field='name',
    description-field='address',
    click-activation='true',
    minlength='0',
    input-class='form-control')