.full-height
    ng-map(ng-attr-id='{{mapId}}', scrollwheel='false')
        custom-marker(ng-if='dayPlan.events.length', ng-repeat='event in dayPlan.events',
        position='{{event.location.latitude}}, {{event.location.longitude}}')
            .day-plan-marker
                .pin
                .marker-content {{getFormattedEventStartTime(event)}}
                span.label-count {{getEventOrderNumber(event)}}

        custom-marker(ng-if='dayPlan.todos.length', ng-repeat='todo in dayPlan.todos',
        position='{{todo.location.latitude}}, {{todo.location.longitude}}')
            .day-plan-marker.todo
                .pin
                .marker-content
                    .fa.fa-check
