nit-advanced-searchbox(ng-model='query',
parameters='availableSearchParams',
placeholder='Type to search',
template-url='/node_modules/angular-advanced-searchbox/dist/angular-advanced-searchbox.html')