div.tooltip-component
    div.summary(ng-transclude='summary')
    div.details(ng-show='__isDetailsTooltipVisible')
        button.close-icon.btn.btn-flat.btn-default(type='button', ng-click='hideDetailsTooltip()')
            span.fa.fa-times
        div.detailsSlot(ng-transclude='details')