.full-height(ng-attr-droppable-container='{{supportDroppingEvent || undefined}}',
on-drop-callback='droppedCallback(taskId)')

    ul.list-no-style(ng-attr-sortable-draggable-list='{{supportReorder || undefined}}',
    ng-model='todos',
    update-order-callback='updateOrderCallback()')

        li.todo-list-item(ng-repeat='todo in todos', data-task-id='{{todo._id}}', ng-class='{draggable: !!supportReorder}')

            checkbox.round(ng-if='showCheckedState', ng-model='todo.isDone', on-change='updateTodoStatusIsDone(todo, newValue)')
                span {{todo[taskTitleProperty]}}

            span(ng-if='!showCheckedState') {{todo[taskTitleProperty]}}

            span.pull-right.cursor-hand(ng-if='showRemoveButton', ng-click='onRemoveButtonClicked({task: todo})', title='Remove from day plan')
                i.fa.fa-times

