.login-box
    .login-logo
        b Smart Planning
    // /.login-logo
    .login-box-body
        p.login-box-msg Sign in to start your session
        form(name='form', ng-submit='login(form)')

            .form-group.has-feedback
                input.form-control(type='email', placeholder='Email', required,
                name='email'
                ng-model='user.email',
                ng-class="{'has-danger': form.email.$touched && form.email.$invalid }")
                span.glyphicon.glyphicon-envelope.form-control-feedback

            .form-group.has-feedback
                input.form-control(type='password', placeholder='Password', required,
                name='password'
                ng-model='user.password',
                ng-class="{'has-danger': form.password.$touched && form.password.$invalid }")
                span.glyphicon.glyphicon-lock.form-control-feedback

            .row
                .col-xs-8
                    // remember me

                .col-xs-4
                    button.btn.btn-primary.btn-block.btn-flat(type='submit') Sign In
                // /.col
        .social-auth-links.text-center
            p - OR -
            a.btn.btn-block.btn-social.btn-facebook.btn-flat(href='#')
                i.fa.fa-facebook
                |  Sign in using
                |         Facebook
            a.btn.btn-block.btn-social.btn-google.btn-flat(href='#')
                i.fa.fa-google-plus
                |  Sign in using
                |         Google+
        // /.social-auth-links
        a.text-center(ui-sref='registration') Register a new membership
    // /.login-box-body
