.task-details.animated.slideInRight
    a.close-button(ui-sref="^")
        i.fa.fa-times

    .box.box-solid

        .box-header.with-border
            .row
                .col-xs-12.form-group
                    input.form-control.input-lg(type='text', ng-model='task.title', placeholder='Short explanation of the task')

        .box-body

            .row
                .col-xs-6
                    label Importance
                    .row.xs-mt-5
                        .col-xs-12
                            div(slider, ng-model='task.priority', start=0, end=4, callback='change')
                        .text-center
                            label {{taskImportanceLabel}}
                .col-xs-6
                    label Category
                    div(angucomplete-alt,
                    id='newTaskCategory',
                    selected-object='onCategorySelected',
                    placeholder='Start typing to search for category',
                    local-data='categories',
                    initial-value='task.category'
                    local-search='filterCategories',
                    click-activation='true',
                    title-field='name',
                    search-fields='name',
                    minlength='0',
                    auto-match='true',
                    input-class='form-control')


            hr
            h3 Location

            .row
                .col-xs-6
                    .form-group
                        label Place name
                        task-location-picker(my-places='myPlaces', task='task', use-google-directions='false', selected-location='task.location')
                    .form-group
                        label Address
                        task-address-search-input(task='task')
                .col-xs-6
                    .full-height
                        ng-map.map(ng-attr-id='{{mapId}}', center='[{{task.location.latitude}}, {{task.location.longitude}}]')
                            marker(position='[{{task.location.latitude}}, {{task.location.longitude}}]')

            hr
            h3 Time

            .row
                .col-xs-6
                    .form-group
                        label Time Window
                        .dropdown
                            span#dropdown.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                                .input-group
                                    input.form-control.date-picker(date-range-picker, type="text", ng-model="task.time", min="minDate", options='dateRangePickerOptions')
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-calendar
                    .form-group
                        label Exact Time
                        date-time-picker(ng-model='task.time.onDate')
                .col-xs-6
                    .form-group
                        checkbox.xs-mb-20(ng-model='task.isRegular', title='When task is added to the day plan - it will not be marked as scheduled') Regular Task
                    .form-group
                        label Duration
                        duration-input(ng-model='task.time.duration')

            hr
            h3 Description

            .row
                .col-xs-12
                    textarea.form-control(rows='5', ng-model='task.description', placeholder='Write down some details about your task')

            hr
            .row
                .col-xs-6.pos-relative
                    a.dropdown-toggle.btn.btn-info(id='{{dayPlanDatePickerid}}', role='button', data-toggle='dropdown', data-target='#') Add to day todo list

                    ul.dropdown-menu.datepicker(role='menu', aria-labelledby='dLabel')
                        datetimepicker(ng-model='selectedDayPlanDate',
                        datetimepicker-config='datePickerConfig',
                        data-before-render='filterFutureDates($dates)',
                        on-set-time='addTaskAsTodoInDayPlan(newDate)')

                .col-xs-6
                    button.btn.btn-default.pull-right.details-action-btn(type='button', ng-click='closeTaskDetails()') Close
                    button.btn.btn-primary.pull-right.details-action-btn.xs-mr-20(type='button', ng-click='saveTask()') Save


