.register-box
    .register-logo
        b Smart Planning
    .register-box-body
        p.login-box-msg Register a new membership
        form(name='form', ng-submit='register(form)')

            .form-group.has-feedback
                input.form-control(type='text', required, placeholder='Full name',
                    name='fullname'
                    ng-model='user.fullname',
                    ng-class="{'has-danger': form.fullname.$touched && form.fullname.$invalid }")
                span.glyphicon.glyphicon-user.form-control-feedback

            .form-group.has-feedback
                input.form-control(type='email', placeholder='Email', required,
                    name='email'
                    ng-model='user.email',
                    ng-class="{'has-danger': form.email.$touched && form.email.$invalid }")
                span.glyphicon.glyphicon-envelope.form-control-feedback

            .form-group.has-feedback
                input.form-control(type='password', placeholder='Password', required,
                    name='password'
                    ng-model='user.password',
                    ng-class="{'has-danger': form.password.$touched && form.password.$invalid }")
                span.glyphicon.glyphicon-lock.form-control-feedback

            .row
                .col-xs-8
                    checkbox(ng-model='user.agreedTerms', required='true')
                        | I agree to the
                        a(href='#')  terms

                .col-xs-4
                    button.btn.btn-primary.btn-block.btn-flat(type='submit') Register

        a.text-center(href='login.html') I'm already registered
