.day-events-timeline
    ul
        li(ng-repeat='timelineItem in timelineItems', ng-class="{'travel-buffer': isTravelBuffer(timelineItem)}")

            div(ng-if='!isTravelBuffer(timelineItem)')

                h4.title
                    checkbox.round(ng-if='showCheckedState', ng-model='timelineItem.isDone', on-change='updateEventTaskStatusIsDone(timelineItem, newValue)')
                        span {{timelineItem.title}}
                    span(ng-if='!showCheckedState')

                .info(ng-if='timelineItem.location.name || timelineItem.location.address')
                    span.fa.fa-map-marker
                    | {{timelineItem.location.name || timelineItem.location.address}}
                .type.clearfix
                    span.fa.fa-tag(ng-if='timelineItem.task.category')
                    | {{timelineItem.task.category}}
                    a.pull-right.xs-mr-20(ui-sref='details({id: timelineItem.task._id})') Details

            div(ng-if='isTravelBuffer(timelineItem)')
                h5.title.row
                    div.col-xs-2.fa(class='{{travelModesIcons[timelineItem.travelMode]}}')
                    div.col-xs-9 {{timelineItem.title | travelBufferDurationFormatter}}


            span.number
                span {{timelineItem.start | momentTimeFormatter}}
                span {{timelineItem.end | momentTimeFormatter}}