form.new-task-form(name='newTaskForm', ng-submit='tryCreateNewTask(newTaskForm, task)')
    .form-horizontal
        .form-group
            .row
                .col-xs-12
                    .col-xs-12
                        input#newTaskName.form-control(type='text', required, ng-model='task.title', placeholder='Title for the new task')


    .form-horizontal.xs-mt-30
        .form-group
            .row
                .col-xs-6(ng-class='{"radio-row-unchecked": !taskHasNoExactTime}')
                    label.col-xs-4.control-label.radio
                        input(type='radio', ng-model='taskHasNoExactTime', ng-value='true')
                        | Time Window
                    .col-xs-8

                        .dropdown
                            span#dropdown.dropdown-toggle(role='button', data-toggle='dropdown', data-target='#', href='#')
                                .input-group
                                    input.form-control.date-picker(date-range-picker, type="text", ng-model="task.time", min="minDate", options='dateRangePickerOptions', ng-disabled='!taskHasNoExactTime')
                                    span.input-group-addon
                                        i.glyphicon.glyphicon-calendar

                .col-xs-6(ng-class='{"radio-row-unchecked": taskHasNoExactTime}')
                    label.col-xs-4.control-label.radio
                        input(type='radio', ng-model='taskHasNoExactTime', ng-value='false')
                        | Exact Time
                    .col-xs-8
                        date-time-picker(ng-model='task.time.onDate', is-disabled='taskHasNoExactTime')

    .form-horizontal
        .form-group
            .row
                .col-xs-6
                    label.col-xs-4.control-label Category
                    .col-xs-8
                        div(angucomplete-alt,
                        id='newTaskCategory',
                        selected-object='categorySelected',
                        placeholder='Select or create new category',
                        local-data='categories',
                        local-search='filterCategories',
                        click-activation='true',
                        title-field='name',
                        search-fields='name'
                        minlength='0',
                        auto-match='true',
                        input-class='form-control')

                .col-xs-6
                    label.col-xs-4.control-label Importance
                    .col-xs-8.xs-mt-5
                        .col-xs-12
                            div(slider, ng-model='task.priority', start=0, end=4, callback='change')
                        .text-center
                            label {{taskImportanceLabel}}


    .row.xs-mt-30

        uib-tabset(active='active', justified='true')

            uib-tab(index='0')
                uib-tab-heading
                    i.fa.fa-clock-o
                    |  Time

                .form-horizontal.xs-mt-20
                    .form-group
                        .col-xs-6
                            label.col-xs-4.control-label Duration
                            .col-xs-8
                                duration-input(ng-model='task.time.duration')

                        .col-xs-6
                            .col-xs-8.xs-mt-5.col-xs-offset-4(title='When task is added to the day plan - it will not be marked as scheduled')
                                checkbox(ng-model='task.isRegular') Regular Task


            uib-tab(index='1', select='reactivateMap()')
                uib-tab-heading
                    i.fa.fa-map-marker
                    |  Location

                .xs-mt-20
                    .col-xs-6

                        .form-group
                            label Place name

                            div(angucomplete-alt,
                            placeholder='Select one of your saved places',
                            pause='100',
                            selected-object='taskPlaceSelected',
                            local-search='filterMyPlaces',
                            local-data='myPlaces',
                            title-field='name',
                            description-field='address',
                            click-activation='true',
                            minlength='0',
                            input-class='form-control')

                        .form-group
                            label Address

                            input.form-control(type='text', ng-map-autocomplete, ng-blur="updateAddress()", ng-keyup='$event.keyCode == 13 && updateAddress()',
                            ng-model='task.location.address', placeholder='Type address to search...')

                    .col-xs-6

                        .full-height
                            ng-map.new-task-map(ng-attr-id='{{mapId}}', center='[{{task.location.latitude}}, {{task.location.longitude}}]')
                                marker(position='[{{task.location.latitude}}, {{task.location.longitude}}]')

                        // button to pick location on the map

            uib-tab(index='2')
                uib-tab-heading
                    i.fa.fa-files-o
                    |  Text

                .form-group.xs-mt-20
                    .col-xs-12
                        label More detailed explanation of the task
                        textarea.form-control(rows='5', ng-model='task.description', placeholder='Write down some details about your task')


    hr

    .row
        .col-xs-4.col-xs-offset-8
            input.btn.bg-navy.btn-block(type='submit', value='Create')