//colors
$grey: grey;
$white_20: rgba(255, 255, 255, 0.2);
$black_12: rgba(0, 0, 0, 0.12);
$black_8: rgba(0, 0, 0, 0.08);
$color_jordy_blue_approx: #86b7e7;

//@extend-elements
//original selectors
//.container ul li >span:before, .container ul li >span:after
%extend_1 {
  content: "";
  width: 8px;
  height: 8px;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 50%;
  border: 2px solid $grey;
  position: absolute;
  background: $color_jordy_blue_approx;
  left: -3px;
  top: 3%;
}

.day-events-timeline {
  ul {
    margin: 20px 0 20px 0;
    list-style: none;
    position: relative;
    font-size: 13px;
    &:before {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      border-left: 2px dashed $grey;
    }
    li {
      position: relative;
      margin-left: 30px;
      background-color: $white_20;
      padding: 1px 0px 10px;
      //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
      border-radius: 6px;
      width: 85%;
      //Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      box-shadow: 0 0 4px $black_12, 0 2px 2px $black_8;

      > span {
        width: 2px;
        height: 100%;
        background: $grey;
        left: -30px;
        top: 0;
        position: absolute;
        &:before {
          @extend %extend_1;
        }
        &:after {
          @extend %extend_1;
        }
      }

      > div {
        margin-left: 10px;
      }

      &:not(:first-child) {
        margin-top: 30px;
      }

      span:after {
        top: 100%;
      }

      &.travel-buffer {
        background-color: rgba(128, 128, 128, 0.2);

        div .title {
          font-weight: normal;
          margin-bottom: 0;
          line-height: 35px;

          .fa {
            font-size: 35px;
          }

          > div {
            font-size: 16px;
          }
        }
      }
    }
  }
  div {

    .title {
      font-weight: 600;

    }
    .type {
      font-weight: 600;
    }

    .info {
      font-weight: 300;
    }

    .fa {
      margin-right: 3px;
      &.fa-map-marker {
        margin-right: 4px;
        margin-left: 2px;
      }
    }

    > div {
      margin-top: 5px;
    }
  }
  span.number {
    height: 87%;
    span {
      position: absolute;
      left: -40px;
      font-weight: bold;
      &:first-child {
        top: -5%;
      }
      &:last-child {
        top: 92%;
      }
    }
  }
}