.day-plan-marker {
  $size: 40px;
  $size-todo-item: 30px;
  $transform-offset: 10px;
  $label-size: 14px;
  $color-event: #00a65a;
  $color-todo: #00c0ef;
  display: block;

  width: $size;
  height: $size;

  .label-count {
    border-radius: 50%;
    background-color: white;
    color: black;
    position: absolute;
    font-weight: bold;
    top: -$label-size;
    right: -$label-size;
    padding: 0;
    width: $label-size * 2;
    height: $label-size * 2;
    text-align: center;
    font-size: $label-size;
    line-height: $label-size * 2;
    vertical-align: middle;
    box-shadow: 2px 2px 4px lightgrey;
  }

  .marker-content {
    margin-top: 0.4 * $size - 3px;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    font-size: 14px;
  }

  .pin {
    width: $size;
    height: $size;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    left: 50%;
    top: 50%;
    background-color: $color-event;
  }

  &.todo {
    width: $size-todo-item;
    height: $size-todo-item;

    .marker-content {
      font-size: 18px;
      margin-top: 0.25 * $size-todo-item;
    }
    .pin {
      width: $size-todo-item;
      height: $size-todo-item;
      background-color: $color-todo;
    }
  }
}
