$tooltip-padding: 16px;

.tooltip-component {
  position: relative;

  .summary {
    display: inline-block;
    width: 100%;
  }

  .details {
    background-color: white;
    position: absolute;
    z-index: 1000;
    text-align: center;
    top: 50px;
    height: auto;
    width: 300px + 2 * $tooltip-padding;
    padding: $tooltip-padding * 2 $tooltip-padding $tooltip-padding $tooltip-padding;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);

    .close-icon {
      position: absolute;
      right: 0;
      top: 0;
      height: $tooltip-padding * 2;
      width: $tooltip-padding * 2;

      .fa-times {
        margin-left: -3px;
        margin-top: -1px;
      }
    }
  }
}