h2 My places


.row.my-places-container
    .col-md-3.places-list

        .row
            .col-md-12

                .input-group
                    .input-group-btn
                        button.btn.btn-primary(ng-click='addPlace()')
                            i.fa.fa-plus
                    input.form-control(type='text', placeholder='Search')

        .list-group
            .list-group-item.place-list-item(ng-repeat='place in places',
            ng-mouseover='highlightPlace(place)',
            ng-mouseleave='unhighlightPlace()',
            ng-class='{"highlight": place === selectedPlace, "selected": place === placeToEdit}')
                h4.clearfix
                    span.place-name.pull-left {{place.name}}
                    div.btn-group.pull-right.place-helper-buttons
                        button.btn
                            i.fa.fa-pencil(ng-click='editPlace(place)')
                        button.btn.btn-default
                            i.fa.fa-search-plus(ng-click='zoomToMarker(place)')
                        button.btn.btn-warning
                            i.fa.fa-trash(ng-click='attemptToDelete(place)')
                p(ng-if='placeToDelete !== place')
                    small
                        i.fi-marker
                        |  {{place.address}}

                div(ng-if='placeToDelete === place')
                    .row
                        .col-sm-12
                            p Are you sure you want to delete this place?
                    .row
                        .col-sm-12
                            .btn-group.btn-group-justified
                                .btn-group
                                    button.btn.btn-sm.btn-danger(ng-click='deletePlace(place)') Delete
                                .btn-group
                                    button.btn.btn-sm.btn-secondary(ng-click='declineDelete()') Cancel

    .col-md-9.map-section
        location-picker(
        map-id='{{mapId}}',
        locations='places',
        location-to-highlight='placeToHighlight',
        highlight-current-location='highlightPlace()',
        selected-location='selectedPlace',
        is-in-edit-mode='isInEditMode',
        location-to-edit='placeToEdit',
        save-edit-function='savePlace(location)')