aside.main-sidebar
    section.sidebar

        ul.sidebar-menu
            li.header Planning
            li.treeview(ui-sref-active='active')
                a(ui-sref='planning({date: "today"})')
                    i.fa.fa-calendar-o
                    span Today
            li.treeview(ui-sref-active='active')
                a(ui-sref='planning({date: "tomorrow"})')
                    i.fa.fa-calendar-plus-o
                    span Tommorow
            li.treeview
                a(ui-sref='planning({date: dayAfterTomorrowDate})')
                    i.fa.fa-calendar-plus-o
                    span Day After Tomorrow

        ul.sidebar-menu
            li.header Dashboard
            li.treeview(ui-sref-active='active')
                a(ui-sref='dashboardToday')
                    i.fa.fa-tachometer
                    span Dashboard
            li.treeview(ui-sref-active='active')
                a(ui-sref='tasks')
                    i.fa.fa-tasks
                    span My Tasks
            li.treeview(ui-sref-active='active')
                a(ui-sref='places')
                    i.fa.fa-map-marker
                    span Places

        ul.sidebar-menu(ng-if='categories')
            li.header Categories
            li.treeview(ng-repeat='category in categories | limitTo : numberOfVisibleCategories', ui-sref-active='active')
                a(ui-sref='tasks({category: category})', ui-sref-opts='{reload: true}')
                    i.fa.fa-circle-o
                    span {{category}}
            span.input-group-btn(ng-if='numberOfVisibleCategories < categories.length')
                button.btn.btn-flat.btn-block.bg-navy(type='button', ng-click='showMoreCategories()') Show more...