.modal-header
    h3 How it works

.modal-body
    img(src='/images/start-instructions.png')

.modal-footer
    button(type='button', ng-click='closeModal()' class='btn btn-primary pull-right') Try it yourself