@import "node_modules/angular-toastr/dist/angular-toastr";
@import "node_modules/angucomplete-alt/angucomplete-alt";
@import "node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker";
@import "node_modules/bootstrap-daterangepicker/daterangepicker.scss";
@import "node_modules/nouislider/distribute/jquery.nouislider.min";
@import "node_modules/fullcalendar/dist/fullcalendar.min";
@import "node_modules/angular-advanced-searchbox/dist/angular-advanced-searchbox.min";
@import "node_modules/bootstrap/dist/css/bootstrap.min";
@import "node_modules/admin-lte/bootstrap/css/bootstrap.min";
@import "node_modules/admin-lte/dist/css/AdminLTE";
@import "node_modules/admin-lte/dist/css/skins/skin-blue";
@import "components/custom-checkbox";
@import "components/day-plan-marker";
@import "components/day-events-timeline";
@import "node_modules/animate.css/animate.min";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/less-space/src/sass-space";
@import "node_modules/ng-table/bundles/ng-table.min";

$laptop-screen-max-height: 800px;
$laptop-screen-max-width: 760px;
$screen-medium-width: 1446px;

$color-green: #00a65a;
$color-white: white;
$color-grey: grey;
$color-light-grey: lightgrey;

.full-height {
  height: 100%;
}

div.row.top-space {
  margin-top: 15px;
}

.autocomplete ul {
  margin-left: 0;
  margin-top: -16px;
}

.angucomplete-dropdown {
  .my-place {
    &:last-child {
      border-bottom: 2px solid $color-grey;
    }

    &:not(:hover) {
      background-color: $color-green;
      color: $color-white;
    }
  }
}

.angular-google-map, .angular-google-map-container {
  height: 100%;
}

.place-list-item {

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
  }

  .place-name {
    margin-top: 0.3em;
  }

  &.highlight {
    //background-color: $success-color;
  }

  &.selected {
    //background-color: $primary-color;
  }

  .place-helper-buttons {
    margin-bottom: 0;

    button.btn {
      padding: 3px 0.5em;

      @media screen and (max-width: $screen-medium-width) {
        padding: 1px 0.2em;
      }

      i.fa {
        margin: auto;
        padding: 5px;
      }
    }
  }

}

.my-places-container {
  @media screen and (max-height: $laptop-screen-max-height) {
    height: 75vh;
    max-height: 75vh;
  }

  height: 80vh;
  max-height: 80vh;

  .places-list {
    height: 100%;
    overflow-y: auto;
  }

  .map-section {
    height: 100%;

    #map_canvas, .location-picker {
      height: 100%;
      width: 100%;
      margin: 0;
      position: relative;
      margin-bottom: 16px;
    }

  }

}

ng-map {
  display: block;
  height: 100%;
}

.new-task-block {
  ng-map {
    height: 23.5rem;
  }
}

.control-label.two-rows {
  padding-top: 0;
  top: -5px;
}

.new-task-modal {
  min-width: 850px;
}

.nav-button {
  padding: 12px 20px;
}

input[type='button'], button {
  i {
    margin-right: 10px;
  }
}

.ui-draggable {
  z-index: 100;
}

hr.lightgrey {
  border-top-color: $color-light-grey;
}

.day-planning-search-button {
  margin-top: 5px;
  height: 38px;
}

.list-no-style {
  list-style: none;
  padding: 0;
}

.link-no-style {
  text-decoration: none;
  color: inherit;
  cursor: inherit;
}

.drop-to-unschedule-block {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px rgba(0, 0, 0, 0.1) dashed;

  .description-area {
    padding: 10px 0;
    font-weight: bold;
    text-align: center;
  }
}

ui-calendar .fc-time-grid-event .fc-title {
  font-size: 14px;
}

day-agenda, ui-calendar {
  height: 100%;
  display: block;
}

.day-plan-container {
  position: relative;
  height: 55vh;

  .route-selection-block {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 0;
    width: 100%;
    .box.box-solid {
      box-shadow: 0 0 20px $color-grey;
    }
  }
}

.planning-task-list {
  height: 55vh;
  overflow-y: scroll;
}

day-plan-map.day-planning {
  height: 64vh;
  display: block;
}

.box.box-solid.planning-day-todos, .box.box-solid.planning-day-schedule {
  height: 60vh;
}

li.ui-draggable {
  list-style: none;
}

todo-list {
  height: 100%;
  display: block;

  &.no-min-height {
    min-height: 0;
  }
}

day-agenda .fc-view .fc-head {
  display: none;
}

.todo-list-item {
  padding: 5px 10px;
  font-weight: normal;
  margin-bottom: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3px;

  &.no-hover:hover {
    box-shadow: none;
  }

  &:hover {
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2);
  }
}

.draggable {
  cursor: move;
}

.dashboard-todos {
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  ul {
    margin-bottom: 0;
  }

  .todo-list-item {
    box-shadow: none;
  }
}

.no-padding-right {
  padding-right: 0;
}

.no-padding-left {
  padding-left: 0;
}

.xs-mt-0 {
  margin-top: 0;
}

.new-task-map {
  height: 300px;
}

.pac-container {
  z-index: 10000 !important;
}

.daterangepicker.show-calendar.dropdown-menu {
  box-shadow: 0 0 8px 0 rgba(128, 128, 128, 0.6);
}

.main-header .navbar a.logout-navbar-button {
  line-height: 20px;
  padding-top: 15px;
  right: 15px;
}

.planning-task-search-results {
  .separator-header {
    font-size: 18px;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    margin-top: 20px;
    &:first-of-type {
      margin-top: 10px;
    }
  }

  .planning-task-list {
    position: relative;
    margin-bottom: 0;

    .planning-task-list-item {
      border: 1px solid lightgray;
      font-weight: normal;

      &.scheduled-task {
        .task-title {
          margin-bottom: 5px;
        }
        .quick-action-button {
          .fa {
            font-size: 15px;
          }
        }

        &.last-scheduled-item {
          margin-bottom: 60px;
        }
      }

      .task-title {
        font-weight: bold;
        margin-bottom: 15px;
        font-size: 15px;
        color: inherit;
      }

      .task-location, .task-category, .task-time {
        font-weight: lighter;
        margin-top: 5px;

        .fa {
          color: dimgray;
          margin-right: 6px;

          &.fa-map-marker {
            margin-right: 9px;
          }
        }
      }
    }
  }
}

.visible-on-hover {
  display: none;

  :hover {
    display: inline-block;
  }
}

.vertical-middle {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

.inline-block {
  display: inline-block;
}

.pos-relative {
  position: relative;
}

.cursor-hand {
  cursor: pointer;
}

.advancedSearchBox .search-parameter-suggestions {
  position: absolute;
  background-color: white;
  z-index: 5;
}

.planning-day-picker {
  box-shadow: 0 0 8px 0 rgba(128, 128, 128, 0.6);
}

.route-selection-frame {
  position: relative;
}

.close-button {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 30px;
  left: -50px;
  background-color: #3c8dbc;
  color: white;
  font-size: 35px;
  line-height: 60px;
  text-align: center;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  -webkit-box-shadow: -5px 0px 10px -2px #888 inset;
  text-decoration: none;

  &:hover {
    background-color: #2b688b;
  }
}

.tasks-search-table {
  .status-column {
    width: 80px;
  }

  .category-column {
    width: 150px;
  }
}

.task-details {
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  position: absolute;
  height: 95vh;
  right: 0;
  top: 0;
  width: 40vw;
  min-width: 500px;
  background-color: white;
  box-shadow: 0 0 20px $color-grey;

  .box {
    padding: 20px;
  }

  .map {
    height: 200px;
  }

  .custom-checkbox {
    margin-top: 28px;
  }

  .box {
    overflow-y: scroll;
    max-height: 100%;
  }

  .details-action-btn {
    width: 100px;
  }

  .datepicker {
    position: absolute;
    top: -260px;
    left: 15px;
    box-shadow: 0 0 20px $color-grey;
  }
}

.dashboard-container {
  height: 600px;

  .day-events-timeline ul {
    padding: 0 0 0 47px;
  }

  .day-plan {
    max-height: 100%;
    overflow-y: scroll;
    width: 33.3333333%;
  }

  .dashboard-map {
    height: 600px;
    display: block;
  }
}

.radio-row-unchecked {
  opacity: 0.6;
}

.first-instructions-modal {
  .modal-dialog .modal-content {
    display: inline-block;
  }
}

form.ng-submitted .ng-invalid {
  border: 1px solid red;
}