header.main-header
    a.logo(href='/')
        // LOGO
        | Smart Planning

    // Header Navbar: style can be found in header.less
    nav.navbar.navbar-static-top(role='navigation')

        ul.nav.navbar-nav.navbar-left
            li
                button.btn.btn-lg.bg-navy.nav-button(type='button', ng-click='showNewTaskModal()')
                    i.fa.fa-plus
                    | Create new task

        .navbar-custom-menu
            ul.nav.navbar-nav.navbar-right
                li.xs-mr-15
                    a.link-no-style
                        span
                            span.fa.fa-user
                            |  {{userName}}
                li
                    a.logout-navbar-button.cursor-hand(ng-click='logout()') Sign out


        form.navbar-form.navbar-right.hide
            .form-group
                input#navbar-search-input.form-control(type='text', placeholder='Search')


modal(visible='isNewTaskDialogVisible', class-names='new-task-modal')
    modal-header(title='New task')
    modal-body
        new-task(ng-if='isNewTaskDialogVisible', task='newTask')

