span.text-center(style='width: 12px; display: inline-block; margin-right: 6px;', title='{{statusIcons[taskStatus].title}}', class='{{animationClasses}}')
    i.fa(style='display: inline; font-size: 18px;', class='{{statusIcons[taskStatus].icon}} {{statusIcons[taskStatus].colorClass}}')